<div *ngIf="error" class="alert alert-danger">{{error}}</div>
    <div class="card">
        <h4 class="card-header">{{ 'EditAccount' | translate }}</h4>
        <div class="card-body">
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
                <div class="mb-3">
                    <label class="form-label">{{'FirstName' | translate }}</label>
                    <input type="text" formControlName="FirstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.FirstName.errors }" />
                    <div *ngIf="submitted && f.FirstName.errors" class="invalid-feedback">
                        <div *ngIf="f.FirstName.errors.required">{{"Validations.ParamNameIsRequired" | translate: {name : ('FirstName' | translate) } }}</div>
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label">{{'LastName' | translate }}</label>
                    <input type="text" formControlName="LastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.LastName.errors }" />
                    <div *ngIf="submitted && f.LastName.errors" class="invalid-feedback">
                        <div *ngIf="f.LastName.errors.required">{{"Validations.ParamNameIsRequired" | translate: {name : ('LastName' | translate) } }}</div>
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label">{{'Email' | translate }}</label>
                    <input type="text" formControlName="Email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.Email.errors }" />
                    <div *ngIf="submitted && f.Email.errors" class="invalid-feedback">
                        <div *ngIf="f.Email.errors.required">{{"Validations.ParamNameIsRequired" | translate: {name : ('Email' | translate) } }}</div>
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label">{{'UserName' | translate }}</label>
                    <input type="text" formControlName="UserName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.UserName.errors }" />
                    <div *ngIf="submitted && f.UserName.errors" class="invalid-feedback">
                        <div *ngIf="f.UserName.errors.required">{{"Validations.ParamNameIsRequired" | translate: {name : ('UserName' | translate) } }}</div>
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label">{{'Password' | translate }}</label>
                    <input type="password" formControlName="Password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.Password.errors }" />
                    <div *ngIf="submitted && f.Password.errors" class="invalid-feedback">
                        <div *ngIf="f.Password.errors.required">{{"Validations.ParamNameIsRequired" | translate: {name : ('Password' | translate) } }}</div>
                        <div *ngIf="f.Password.errors.minlength">{{'Validations.FieldLengthRequire' | translate : {length : 6, field: ('Password' | translate) } }}</div>
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label">{{ 'LevelAccount' | translate }}</label>
                    <select [ngClass]="{ 'is-invalid': submitted && f.UserTypeUser.errors }" class="form-select form-select-lg mb-3"  formControlName="UserTypeUser" class="form-control">
                        <option *ngFor="let option of myOptionsTypeUSer" [value]="enCodeValue(option)">
                          {{ option.name }}
                        </option>
                    </select>
                    
                    <div *ngIf="submitted && f.UserTypeUser.errors" class="invalid-feedback">
                        <div *ngIf="f.UserTypeUser.errors.required">{{ 'Validations.PleaseSelectField' | translate : {field: ('Role' | translate)} }}</div>
                    </div>
                </div>
                <div>
                    <button [disabled]="loading" class="btn btn-primary">
                        <span *ngIf="loading" class="spinner-border spinner-border-sm me-1"></span>
                        {{ 'EditAccount' | translate }}
                    </button>
                    <a (click)="cancel()" class="btn btn-link">{{ 'Cancel' | translate }}</a>
                </div>
            </form>
        </div>
    </div>