<div class="col-md-12">
  <select [(ngModel)]="selectedUserId" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
    <ng-container *ngIf="users.length > 0">
      <option *ngFor="let user of users" [value]="user.id">{{user.username}}</option>
    </ng-container>
  </select>
  <ng-container *ngIf="listPages.length > 0">
    <div class="form-option-choose">
      <div *ngFor="let page of listPages" class="form-check form-switch">
        <input (change)="handleCheckboxChange()" [(ngModel)]="pageStates[page.id]" type="checkbox" class="form-check-input" [id]="page.id">
        <label class="form-check-label" for="{{page.id}}">{{page.title | translate}}</label>
      </div>
    </div>
  </ng-container>
  <button class="btn btn-primary mt-3" type="button" (click)="handleAuthorizationAccount()">{{'AccountAuthorization' | translate}}</button>
</div>