.container {
  height: 100vh;
}

.container {
  padding: 25px;
}

.flag-icon {
  width: 20px;
  height: 20px;
}

.selected-language {
  color: black;
}

.welcome-title {
  color: white;
  font-size: 10pt;
}

.nav-link.active {
  color: #ddd6e0;
  font-weight: bold;
  animation-duration: 1s;
  /* animation-iteration-count: 3; */
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.mat-form-field-appearance-legacy .mat-form-field-infix{
  padding: 0 !important;
}

.row-right{
  grid-gap: 0 10px;
}