<h1>{{'Pages.UserManagement.title' | translate }}</h1>
<div class="d-flex justify-content-between mb-3">
    <button (click)="OpenDialog()" type="button" class="btn btn-primary">{{ 'RegistNewAccount' | translate }}</button>
    <div [formGroup]="form" class="filter-area">
        <input type="text" name="keyword" formControlName="keyword" class="form-control" (keyup.enter)="search()" [placeholder]="'enterName' | translate : { name: ('keyword' | translate) }" />
        <button mat-icon-button (click)="search()"><i class="fas fa-search"></i></button>
    </div>
</div>

<table class="table table-hover table-bordered">
    <thead>
        <tr>
            <th>{{ 'No' | translate }}</th>
            <th>{{ 'UserName' | translate }}</th>
            <th>{{ 'FirstName' | translate }}</th>
            <th>{{ 'LastName' | translate }}</th>
            <th>{{ 'Action' | translate }}</th>
        </tr>
    </thead>
    <tbody>
        <ng-container *ngIf="users.length < 1">
            <tr>
                <td colspan="5" class="text-center fw-bold">{{ 'ThereIsNoRecordName' | translate : { name: ('user' | translate) } }}</td>
            </tr>
        </ng-container>
        <ng-container *ngIf="users.length > 0">
            <tr *ngFor="let user of users; let i = index;">
                <td>{{ i + 1 }}</td>
                <td>{{user.username}}</td>
                <td>{{user.firstName}}</td>
                <td>{{user.lastName}}</td>
                <td>
                    <a [routerLink]="['/user', user.id]">
                        <span><i class="fa fa-info"></i></span>
                    </a>
                    <span><i class="fa fa-edit"></i></span>
                </td>
            </tr>
        </ng-container>
    </tbody>
</table>