.fa-edit, .fa-info, .fa-search {
    cursor: pointer;
    width: 30px;
    height: 30px;
    padding: 5px;
    &:hover{
        border: 1px solid #c4c4c4;
        border-radius: 50%;
    }
    &.disabled {
      color: #c7c7c7;
    }
}
.fa-info {
    margin-right: 10px;
    color: rgb(45, 45, 62);
}
.fa-edit {
    color: blue;
}
.filter-area {
    position: relative;
    display: inline-block;
    input {
        float: right;
    }
    button {
        position: absolute;
        right: 0;
    }
}

::ng-deep .custom-mat-dialog-bdrop {
    filter: blur(20px);
    background-color: #aba1a1;
    opacity: 0.7 !important;
}